# EditorConfig helps maintain consistent coding styles for multiple developers
# working on the same project. See https://editorconfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown files
[*.md]
trim_trailing_whitespace = false

# TypeScript and JavaScript files
[*.{ts,tsx,js,jsx}]
max_line_length = 80
quote_type = double

# JSON files
[*.json]
indent_size = 2

# CSS/SCSS files
[*.{css,scss}]
indent_size = 2

# HTML files
[*.html]
indent_size = 2

# YAML config files
[*.{yml,yaml}]
indent_size = 2
